---
layout: default
title: Home
---

<div class="posts">
	{% for post in site.posts limit:10 %}
  <div class="post">
		{% if post.thumb %} <img src="{{site.url}}/assets/{{ post.thumb }}" /> {% endif %}
    <h3>
      <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
    </h3>

    <span class="index-post-date">{{ post.date | date: '%B %-d, %Y' }}</span>

		{% if post.excerpt %}{{ post.excerpt }}{% endif %}
  </div>
	{% endfor %}
	<div class="index-more">&#8230;for more, try the <a href="{{site.url}}/archive/">archive.</a></div>
</div>
