{% capture header %}
<meta name="twitter:card" content="summary_large_image">

{% if page.title == "Home" %}
	<meta property="og:type" content="website" />	
	<meta property="og:image" content="{{ site.url }}/public/favicon.ico" />
	<meta name="twitter:title" content="{{ site.title }}" />
	<meta name="twitter:description" content="{{ site.tagline }}" />
{% else %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="twitter:description" content="{{  page.excerpt | strip_html }}" />
{% endif %}

{% include meta.html property="og:site_name" content=site.title %}

{% if page.thumb %}
	{% capture image_url %}{{ site.url }}/assets/{{ page.thumb }}{% endcapture %}
	{% include meta.html property="og:image" content=image_url %}
	<meta name="twitter:image:src" content="{{ image_url}}" />
{% endif %}

{% capture page_url %}{{ site.url }}{{ page.url | replace:'/index.html','/' }}{% endcapture %}
{% include meta.html property="og:url" content=page_url %}

<meta property="article:author" content="{{ site.author.fburl }}" />
<meta name="twitter:creator" content="{{ site.author.twit }}">
<link rel="author" href="{{ site.author.gurl }}" />

{% endcapture %}{{ header | strip_newlines }}
