---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: '%B %-d, %Y' }}</span>
  {{ content }}
	{% include tbtc.html %}
</div>

<div class="bottom-nav">
	{% if page.next %}
	<h3>Newer</h3>
	<a href="{{ page.next.url }}">
		{{ page.next.title | markdownify | strip_newlines }}
	</a>
	{% endif %}
	{% if page.previous %}
	<h3>Older</h3>
	<a href="{{ page.previous.url }}">
		{{ page.previous.title | markdownify | strip_newlines }}
	</a>
	{% endif %}
</div>
